<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<!-- spring配置文件位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring.xml</param-value>
	</context-param>
		
    <!-- post编码 Character Encoding filter -->  
        <filter>  
            <filter-name>encodingFilter</filter-name>  
            <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
            <init-param>  
                <param-name>encoding</param-name>  
                <param-value>UTF-8</param-value>  
            </init-param>  
            <init-param>  
                <param-name>forceEncoding</param-name>  
                <param-value>true</param-value>  
            </init-param>   
        </filter>  
      
        <filter-mapping>  
            <filter-name>encodingFilter</filter-name>  
            <url-pattern>/*</url-pattern>  
        </filter-mapping> 
        
        <filter>        
    <filter-name>DelegatingFilterProxy</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>setCharacterEncodingFilter</param-value>
        </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DelegatingFilterProxy</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>  
       <filter-name>UrlRewriteFilter</filter-name>  
      <filter-class>  
          org.tuckey.web.filters.urlrewrite.UrlRewriteFilter   
      </filter-class>  
      <init-param>  
                <param-name>logLevel</param-name>  
                <param-value>debug</param-value>  
            </init-param>  
   </filter>
   <filter-mapping>  
      <filter-name>UrlRewriteFilter</filter-name>  
      <url-pattern>/modeController/*</url-pattern>  
  </filter-mapping>
  <filter-mapping>  
      <filter-name>UrlRewriteFilter</filter-name>  
      <url-pattern>/modeuserController/*</url-pattern>  
  </filter-mapping>
   <!--  
  <filter-mapping>  
      <filter-name>UrlRewriteFilter</filter-name>  
      <url-pattern>/*</url-pattern>  
  </filter-mapping>
  -->    

	<!-- openSessionInView配置 -->
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<!-- spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 监听器 -->
	<listener>
		<listener-class>sy.util.HouseieeeListener</listener-class>
	</listener>
	
	<!-- socket监听   start --> 
	<!--  
 	<listener>  
	  <description>Socket服务随web服务启动而启动</description>  
	  <listener-class>sy.util.socket.SocketListener</listener-class>  
	</listener>
	--> 
	<!-- socket监听   end --> 
	
	<!-- 防止spring内存溢出监听器 -->
<!-- 	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener> -->
	<!-- spring mvc servlet -->
	<servlet>
		<description>spring mvc servlet</description>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<description>spring mvc 配置文件</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!--  
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>	
	-->
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>*.cgi</url-pattern>
	</servlet-mapping>
	<!-- 修复数据库监听器 -->
<!-- 	<listener>
		<listener-class>sy.listener.RepairListener</listener-class>
	</listener> -->
	<welcome-file-list>
		<welcome-file>/login.htm</welcome-file>
		<welcome-file>/manager_login.html</welcome-file>
	</welcome-file-list>
	<!-- 设置session失效20小时，单位分  设置为0，-1 表示永不超时-->
<session-config>
   <session-timeout>10</session-timeout>
</session-config>
</web-app>
